body {
	margin: 0px;
	background-color: #DAE1D1;
	color: #90a4ae;
	font-family: Arial;
	padding: 0 20%;
}

.new-list {
	background-color: #FECC32;
	padding: 8px 10px;
	margin: 10px 0;
	border: none;
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

.new-list:hover {
	font-size: 12px;
}

form {
	background-color: white;
	width: 300px;
	padding: 1em;
	margin: 10px 0;
	border-top: solid #90a4ae 5px;
	border-radius: 5px;
}

form.selected {
	width: 325px;
	border-top: solid #88D2EE 10px;
}

input.add-input {
	width: 250px;
	padding: 0.2em 0.5em;
	border: none;
	background-color: #DAE1DB;
	margin-right: 5px;
}

.selected input.add-input {
	width: 275px;
}

.selected input.add-input:hover {
	width: 280px;
	height: 20px;
}

.selected input.add-input:focus {
	outline: none;
	width: 280px;
	height: 20px;
}

.add {
	background-color: #b0bec5;
	border: none;
	color: white;
	border-radius: 2px;
}

.selected .add {
	background-color: #F89B2E;
}

.selected .add:hover {
	width: 22px;
	height: 20px;
}

ul {
	list-style: none;
	padding-right: 30px;
	padding-left: 1.7em;
}

li {
	padding: 5px 0px;
	text-indent: -1.7em;
	font-size: 13px;
}

.selected li {
	color: #90a4ae;
}

.submit {
	border: none;
	width: 90px;
	padding: 2.5px 20px;
	margin-left: 205px;
	border-radius: 2px;
	background-color: #90a4ae;
	color: white;
	opacity: 0.75;
}

input.list-item {
	font-size: 13px;
	width: 90%;
	background-color: white;
	border: none;
}

.selected input.list-item {
	color: #9D7126;
}

.remove-item {
	background-color: white;
	margin-right: 0.5em;
	border: none;
	color: #90a4ae;
	border-radius: 10px;
	opacity: 0.25;
}

.selected .remove-item {
	color: #88D2EE;
}

.selected .remove-item:hover {
	font-size: 14px;
	font-weight: bold;
	color: #F89B2E;
	opacity: 1;
}

.selected .submit {
	margin-left: 230px;	
	background-color: #88D2EE;
}

.selected .submit:hover {
	font-weight: bold;
	font-size: 12px;
	color: white;
	opacity: 1;
}